<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CalculatorAllTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>CalculatorIntegrationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>CalculatorSpectaTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A619BEC71AED675A0026892F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A619BEDD1AED89AA0026892F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A619BEFB1AEEDCA70026892F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A66142441AED651C00202B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A661425D1AED651C00202B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
